/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*
/.vs/
/Logs/
/UserSettings/
/.idea/

*.csproj
*.unityproj
*.booproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.svd

/Assets/StreamingAssets/*
!/Assets/StreamingAssets/.gitkeep
/ProjectSettings/ProjectVersion.txt
/Packages/*
/UnityPackageManager/*
Datas/protoc-21.9-win64/proto2CSharp_Server_For_Xml_LiteNet.bat
Datas/protoc-21.9-win64/proto2CSharp_Server_For_Xml_LiteNet.bat
/HybridCLRData/*
