altgraph==0.17.2
beautifulsoup4==4.10.0
et-xmlfile==1.1.0
future==0.18.2
google==3.0.0
openpyxl==3.0.9
pefile==2021.9.3
protobuf==3.10.0
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.2
pywin32-ctypes==0.2.0
PyYAML==5.4
six==1.16.0
soupsieve==2.3.1
unityparser==2.1.5
xlrd==1.2.0